/* gradientHeader.css */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(-45deg, #155ce9, #a7dbfe, #155ce9);
  background-size: 300% 300%;
  animation: gradient 20s ease-in-out infinite;
}
